@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('/fonts/Gilroy-Regular.ttf');
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('/fonts/Gilroy-Medium.ttf');
}
@font-face {
  font-family: 'Gilroy-Semibold';
  src: url('/fonts/Gilroy-Semibold.ttf');
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/fonts/Gilroy-Bold.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container_fixed {
    @apply w-full pl-5 pr-10 lg:px-0 lg:w-[92%] lg:max-w-[1024px];
  }

  .__h2 {
    @apply text-[18px] leading-[20px] lg:text-[26px] lg:leading-[29px] font-primary text-black relative pb-1.5 font-bold;
  }
  .__body_text {
    @apply font-gilroy-regular text-[14px] lg:text-[18px] leading-[170%] text-[#555555];
  }
  .__input {
    @apply outline-none border-b border-gray-light pb-4 px-2.5 placeholder:text-gray-1 placeholder:opacity-100 font-gilroy-regular w-full block focus:border-black/20 duration-300 text-[14px] lg:text-[16px];
  }
}

.__h2::before {
  content: '';
  @apply absolute bottom-0 left-0 w-[50px] h-px bg-gray-3;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-body-gray;
}

.leaflet-popup-content-wrapper {
  @apply !bg-[#292929]/90 !rounded-none !shadow-none;
}

.leaflet-popup-content {
  @apply !text-white !font-gilroy-regular text-center !m-0 !py-7 !px-5 lg:!p-[35px] !w-[272px] lg:!w-[316px];
}
.leaflet-popup-close-button {
  @apply !text-white !text-xl;
}
.leaflet-popup-tip-container,
.leaflet-control-attribution.leaflet-control {
  @apply hidden;
}
